.backGround{
    -fx-background-image:url('backgroundScreen.png');
    -fx-background-size: 100% 100%;
}

.drawCards{
    -fx-background-image: url('drawCards.png');
    -fx-background-size: 100% 100%;
}

.closeInfoButton{
    -fx-background-image: url('Santorini_GenericPopup_closebtn.png');
    -fx-background-size: 100% 100%;
}

.closeInfoButton:pressed{
    -fx-background-image: url('Santorini_GenericPopup_closebtn_pressed.png');
    -fx-background-size: 100% 100%;
}

.infoButton{
    -fx-background-color: transparent;
}

.closeInfoButtonSelectedCards{
    -fx-background-image: url('Santorini_GenericPopup_closebtn.png');
    -fx-background-size: 100% 100%;
}

.closeInfoButtonSelectedCards:pressed{
    -fx-background-image: url('Santorini_GenericPopup_closebtn_pressed.png');
    -fx-background-size: 100% 100%;
}

.goNextButton {
    -fx-background-image: url('rightArrow.png');
    -fx-background-size: 100% 100%;
}

.goBackButton {
    -fx-background-image: url('leftArrow.png');
    -fx-background-size: 100% 100%;
}

.closeRedButton {
    -fx-background-image: url('closeRedButton.png');
    -fx-background-size: 100% 100%;
}

.closeRedButton:selected {
    -fx-background-image: url('closeRedButton.png');
    -fx-background-size: 100% 100%;
    -fx-border-color: transparent;
}

.closeRedButton:pressed {
    -fx-background-image: url('closeRedButton_pressed.png');
    -fx-background-size: 100% 100%;
    -fx-border-color: transparent;
}