.left {
    -fx-background-image:url('undoButton.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
.left:pressed {
    -fx-background-image:url('undoButtonDown.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
.center {
    -fx-background-image:url('undoButton.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
.center:pressed {
    -fx-background-image:url('undoButtonDown.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
.right {
    -fx-background-image:url('undoButton.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
.right:pressed {
    -fx-background-image:url('undoButtonDown.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
